{{template "header"}}
	<title>添加文章</title>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>
	</div>

	<div class="container">
		<h1>添加文章</h1>
		<form method="post" action="/topic" enctype="multipart/form-data">
			<div class="form-group">
				<label>文章标题:</label>
				<input type="text" name="title" class="form-control"></input>
			</div>

			<div class="form-group-inline">
				<label>所属项目</label>
				<select name="category" class="form-control form-control-medium">
					<option value="{{.Title}}">{{.Title}}</option>
					{{range .CategoryList}}
					<option value="{{.Title}}">{{.Title}}</option>
					{{end}}
				</select>
			</div>

			<div class="form-group-inline">
				<label>文章标签</label>
				<input type="text" name="label" class="form-control"></input>
			</div>

			<div class="form-group">
				<label>文章内容:</label>
				<textarea name="content" cols="30" rows="10" class="form-control"></textarea>
			</div>

			<div class="form-group">
				<label>文章附件</label>
				<input type="file" name="attachment" class="form-control"></input>
			</div>

			<div>
				<button type="submit" class="btn btn-default">添加文章</button>
			</div>
		</form>
	</div>
</body>
</html>